[Desktop Entry]
Categories=Qt;KDE;Settings;X-KDE-Settings-File;
Comment=Control Applet for logitechg15
Encoding=UTF-8
Exec=logitechapplet
GenericName=Control Applet for logitechg15
Icon=logitechapplet
Name=Logitech Applet
Terminal=false
Type=Application
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=com.googlecode.logitechapplet
X-DocPath=logitechapplet/index.html
X-KDE-StartupNotify=true
